#### Aggregating the data 
hourly -> average daily data

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("chicago_tracts_weekly_weather_forecast_07_09_2025.csv")
df

,time,cloud_cover,visibility,relative_humidity_2m,precipitation,wind_speed_180m,wind_direction_180m,temperature_180m,surface_pressure,tract_id
0,2025-07-09T00:00,99,44291.340,91,0.000,14.0,238,70.9,995.4,17031510300
1,2025-07-09T01:00,52,45931.758,91,0.000,11.5,238,71.0,994.8,17031510300
2,2025-07-09T02:00,51,44947.508,91,0.000,11.0,241,70.3,994.6,17031510300
3,2025-07-09T03:00,6,43635.172,92,0.000,10.5,254,69.6,994.5,17031510300
4,2025-07-09T04:00,50,44947.508,91,0.000,9.7,261,68.9,994.1,17031510300
...,...,...,...,...,...,...,...,...,...,...
145819,2025-07-15T19:00,100,79199.477,86,0.008,14.3,209,77.0,990.1,17031100500
145820,2025-07-15T20:00,100,79199.477,89,0.000,18.2,208,77.0,990.2,17031100500
145821,2025-07-15T21:00,100,79199.477,91,0.000,23.2,208,76.8,990.6,17031100500
145822,2025-07-15T22:00,100,79199.477,93,0.000,26.3,209,76.2,990.7,17031100500
145823,2025-07-15T23:00,100,79199.477,92,0.000,25.4,214,75.0,990.5,17031100500

The first step is to convert time to datetime to be able to aggregate properly.

In [41]:
df.dtypes

time                     object
cloud_cover               int64
visibility              float64
relative_humidity_2m      int64
precipitation           float64
wind_speed_180m         float64
wind_direction_180m       int64
temperature_180m        float64
surface_pressure        float64
tract_id                  int64
dtype: object

In [42]:
df["trimmed_time"] = df["time"].str.slice(0,10)
df["cleaned_time"] = pd.to_datetime(df["trimmed_time"])
df

,time,cloud_cover,visibility,relative_humidity_2m,precipitation,wind_speed_180m,wind_direction_180m,temperature_180m,surface_pressure,tract_id,trimmed_time,cleaned_time
0,2025-07-09T00:00,99,44291.340,91,0.000,14.0,238,70.9,995.4,17031510300,2025-07-09,2025-07-09
1,2025-07-09T01:00,52,45931.758,91,0.000,11.5,238,71.0,994.8,17031510300,2025-07-09,2025-07-09
2,2025-07-09T02:00,51,44947.508,91,0.000,11.0,241,70.3,994.6,17031510300,2025-07-09,2025-07-09
3,2025-07-09T03:00,6,43635.172,92,0.000,10.5,254,69.6,994.5,17031510300,2025-07-09,2025-07-09
4,2025-07-09T04:00,50,44947.508,91,0.000,9.7,261,68.9,994.1,17031510300,2025-07-09,2025-07-09
...,...,...,...,...,...,...,...,...,...,...,...,...
145819,2025-07-15T19:00,100,79199.477,86,0.008,14.3,209,77.0,990.1,17031100500,2025-07-15,2025-07-15
145820,2025-07-15T20:00,100,79199.477,89,0.000,18.2,208,77.0,990.2,17031100500,2025-07-15,2025-07-15
145821,2025-07-15T21:00,100,79199.477,91,0.000,23.2,208,76.8,990.6,17031100500,2025-07-15,2025-07-15
145822,2025-07-15T22:00,100,79199.477,93,0.000,26.3,209,76.2,990.7,17031100500,2025-07-15,2025-07-15
145823,2025-07-15T23:00,100,79199.477,92,0.000,25.4,214,75.0,990.5,17031100500,2025-07-15,2025-07-15

In [43]:
df.dtypes

time                            object
cloud_cover                      int64
visibility                     float64
relative_humidity_2m             int64
precipitation                  float64
wind_speed_180m                float64
wind_direction_180m              int64
temperature_180m               float64
surface_pressure               float64
tract_id                         int64
trimmed_time                    object
cleaned_time            datetime64[ns]
dtype: object

868 tracts $\times$ 7 days each = 6076 rows

In [44]:
df_agg = df.drop(columns=["time","trimmed_time"]).groupby(["cleaned_time","tract_id"]).agg("mean").reset_index()
df_agg

,cleaned_time,tract_id,cloud_cover,visibility,relative_humidity_2m,precipitation,wind_speed_180m,wind_direction_180m,temperature_180m,surface_pressure
0,2025-07-09,17031010100,29.333333,48296.697375,87.666667,0.0000,9.054167,157.583333,70.212500,994.116667
1,2025-07-09,17031010201,28.958333,48966.535125,87.875000,0.0000,9.620833,161.333333,69.062500,993.770833
2,2025-07-09,17031010202,29.333333,48296.697375,87.666667,0.0000,9.054167,157.583333,70.250000,994.229167
3,2025-07-09,17031010300,29.333333,48296.697375,87.666667,0.0000,9.054167,157.583333,70.212500,994.116667
4,2025-07-09,17031010400,35.041667,46751.968458,89.625000,0.0000,9.054167,157.583333,70.366667,995.354167
...,...,...,...,...,...,...,...,...,...,...
6071,2025-07-15,17031844700,55.250000,74237.206375,73.333333,0.0020,18.925000,204.583333,75.816667,994.254167
6072,2025-07-15,17031980000,55.250000,79199.477000,71.208333,0.0030,19.383333,205.208333,75.204167,992.483333
6073,2025-07-15,17031980100,63.000000,74237.206375,69.916667,0.0015,18.945833,203.708333,75.150000,994.179167
6074,2025-07-15,17031990000,55.375000,74753.938792,80.083333,0.0000,19.000000,196.416667,73.929167,995.275000
6075,2025-07-15,17043840000,55.250000,79199.477000,71.208333,0.0030,19.129167,203.541667,75.091667,992.150000

In [45]:
len(df_agg["tract_id"].unique())

868

In [46]:
# saving this for further use (see map_creation_agg_data.ipynb)
df_agg.to_csv("cleaned_aggregated_data.csv", index=False)